// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category_navigation {
  margin: 10px 0;
  padding: 5px 5px;
}

#category {
  margin: 5px;
}

.category_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_container {
  margin-top: 20px;
}

.highlight {
  background-color: #f3c517;
}

.category_product_search_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px;
}

.create_product {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-search-button {
  background-color: #f3c517;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 2 10px;
}